#container .content .table {
    width: 100%;
    height: max-content;
    margin-top: 5rem;
}

#container .content .table .thead {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 1rem 0;
    border-radius: 1rem;
    background: #4FD1C5;
}

#container .content .table .tbody {
    width: 100%;
    height: auto;
}

#container .content .table .tbody .row {
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr 1fr;
    height: max-content;
    font-size: 2.4rem;
    text-align: center;
    margin: 1.5rem 0;
}

#container .content .table .tbody .row div {
    max-width: 100%;
    min-width: 100%;
    height: max-content;
    word-break: break-all;
}

#container .content .table .tbody .row .name,
#container .content .table .tbody .row .description {
    /*text-align: left;*/
    padding: 0 2rem;
}

#container .content .table .tbody .row  a {
    font-size: 1.6rem;
}