.container .content .section1 {
    width: 100%;
    height: max-content;
}

.container .content .section1 .header_section1 {
    width: 100%;
    height: max-content;
    flex-direction: column;
    gap: 2rem;
}

.content .section1 .header_section1 h1 {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 3.4rem;
    text-transform: capitalize;
}

.content .section1 .line {
    margin-top: 4rem;
    width: 100%;
    height: 0.1rem;
    background: rgba(0, 0, 0, 0.39);
}

.content .section1 .main-checkout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    margin-top: 5rem;
}

.content .section1 .main-checkout .left {

}

.content .section1 .main-checkout .left .contact {
    flex-direction: column;
    gap: 2.6rem;
}

.section1 .main-checkout .left .contact .top {
    justify-content: space-between;
    align-items: center;
}

.main-checkout .left .contact .top h1 {
    color: #484848;
    font-size: 4.8rem;
    font-weight: 400;
}

.main-checkout .left .contact .top p {
    color: #484848;
    text-align: right;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.main-checkout .left .contact .top p a {
    color: #1456FF;
}

.main-checkout .left .contact > label {
    width: 100%;
    height: 7.1rem;
}

.main-checkout .left .contact > label input {
    width: 100%;
    height: 7.1rem;
    color: #8A8A8A;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid #8A8A8A;
    background: #FFF;
    outline: none;
    padding: 2rem 3rem;
}