.container .content {
    margin: 10rem 0 0 0;
}

.container .content .section1 {
    width: 100%;
    height: auto;
}

.container .content .section1 .heading {
    text-align: center;
    font-size: 4.2rem;
    line-height: 3.2rem;
    text-transform: capitalize;
    font-weight: normal;
}

.container .content .section1 .direction {
    width: fit-content;
    margin: 2rem auto 0 auto;
    text-align: center;
    gap: 1.5rem;
    align-items: center;
}

.container .content .section1 .direction p {
    font-size: 1.8rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 500;
}

.container .content .section1 .direction p:first-child {
    opacity: 0.8;
}

.container .content .section1 .box_product {
    margin: 8rem 0 0 0;
    justify-content: space-between;
}

.container .content .section1 .box_product .filter {
    max-width: 25%;
}

.content .section1 .box_product .filter .heading {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: left;
}

.content .section1 .box_product .filter .size_filter {
    margin: 3rem 0 0 0;
}

.section1 .box_product .filter .size_filter .size_heading {
    font-size: 2rem;
    font-weight: normal;
    text-align: left;
    line-height: 2.8rem;
}

.section1 .box_product .filter .size_filter .table_size {
    margin: 1.6rem 0 0 0;
    flex-wrap: wrap;
    gap: 1.2rem;
    max-width: 25rem;
}

.section1 .box_product .filter .size_filter .table_size a {
    display: inline-flex;
    min-width: 2.5rem;
    min-height: 4.2rem;
    padding: 0.8rem 1.639rem 1rem 1.661rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #8A8A8A;
    color: #8A8A8A;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

.section1 .box_product .filter .color_filter {
    margin: 3rem 0 0 0;
}

.section1 .box_product .filter .color_filter .color_heading {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.section1 .box_product .filter .color_filter .table_color_filter {
    margin: 2rem 0 0 0;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 30rem;
}

.section1 .box_product .filter .color_filter .table_color_filter a {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.10);
}

.section1 .box_product .filter .color_filter .table_color_filter a:first-child {
    background: #FF6C6C;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(2) {
    background: #FF7629;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(3) {
    background: #FFF06C;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(4) {
    background: #9BFF6C;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(5) {
    background: #6CFF9E;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(6) {
    background: #6CFFDC;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(7) {
    background: #6CB9FF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(8) {
    background: #6CF6FF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(9) {
    background: #6CA7FF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(10) {
    background: #6C7BFF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(11) {
    background: #8A6CFF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(12) {
    background: #B66CFF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(13) {
    background: #FC6CFF;
}

.section1 .box_product .filter .color_filter .table_color_filter a:nth-child(14) {
    background: #FF6C6C;
}

.section1 .box_product .filter .price_filter {
    margin: 3rem 0 0 0;
}

.section1 .box_product .filter .price_filter .price_heading {
    font-weight: normal;
    line-height: 2.8rem;
    font-size: 2rem;
}

.section1 .box_product .filter .price_filter .table_price_filter {
    flex-direction: column;
    margin: 2rem 0 0 0;
    gap: 1rem;
}

.section1 .box_product .filter .price_filter .table_price_filter a {
    color: #8A8A8A;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: normal;
}

.section1 .box_product .filter .brand_filter {
    margin-top: 3rem;
}

.section1 .box_product .filter .brand_filter .brand_header {
    justify-content: space-between;
    align-items: center;
}

.section1 .box_product .filter .brand_filter .brand_heading {
    font-size: 2rem;
    font-weight: 400;
}

.section1 .box_product .filter .brand_filter .table_brand_filter {
    width: 90%;
    margin-top: 1.5rem;
}

.box_product .filter .brand_filter .table_brand_filter a {
    display: inline-block;
    font-size: 1.8rem;
    color: #8A8A8A;
    margin: 0 1rem;
}

.box_product .filter .collections_filter {
    margin-top: 3rem;
}

.filter .collections_filter .collections_header {
    justify-content: space-between;
    align-items: center;
}

.collections_filter .collections_header .collections_heading {
    font-weight: normal;
    line-height: 2.8rem;
    font-size: 2rem;
}

.section1 .box_product .main_box_product {
    min-width: 68%;
}

.section1 .box_product .main_box_product .top_content {
    justify-content: space-between;
}

.section1 .box_product .main_box_product .top_content .top_header {
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.section1 .box_product .main_box_product .top_content .top_header .top_heading {
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.section1 .box_product .main_box_product .top_content .icon {
    gap: 1rem;
    align-items: center;
}

.section1 .box_product .main_box_product .top_content .icon a {
    display: flex;
    padding: 1.1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    background: #F2F2F2;
}

.section1 .box_product .main_box_product .main_content {
    margin: 3rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 3rem;
}

.section1 .box_product .main_box_product .main_content .product_box {
    max-width: 30rem;
}

.main_box_product .main_content .product_box .img {
    display: block;
    width: 30rem;
    height: 40rem;
}

.main_box_product .main_content .product_box .img img {
    object-fit: cover;
}

.main_box_product .main_content .product_box .name {
    margin: 2rem 0 0 0;
}

.main_box_product .main_content .product_box .price {
    margin: 0.5rem 0 0 0;
}

.main_box_product .main_content .product_box .tag {
    margin: 1.5rem 0 0 0;
    gap: 1rem;
}

.main_box_product .main_content .product_box .tag div:first-child {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 0 4px #FFF inset, 0 0 0 1px #000;
}

.main_box_product .main_content .product_box .tag div:last-child {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.10);
}

.section1 .box_product .main_box_product .page {
    margin: 7rem auto 0 auto;
    width: fit-content;
}

.section1 .box_product .main_box_product .page a {
    display: inline-flex;
    padding: 0.9rem 1.861rem 1.1rem 1.739rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    border-radius: 999.9rem;
    background: #F3F3F3;
}

.section1 .box_product .main_box_product .page a.active {
    background: #000;
    color: #fff;
}

.section1 .box_product .main_box_product .page a:hover {
    background: #000;
    color: #fff;
}

