.container_sign_up {
    padding: 0 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
}

.container_sign_up .main-img {
    width: 53rem;
    margin: 0 auto;
    height: 80%;
}

.container_sign_up .main-img img {
    object-fit: contain;
    width: 100%;
    height: max-content;
}

.container_sign_up .content {
    width: 100%;
}

.container_sign_up .content .logo {
    width: max-content;
    margin: 9rem auto 0 25rem;
}

.container_sign_up .content .logo a {
    font-size: 6.5rem;
    color: #484848;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
}

.container_sign_up .content .main-content {
    width: max-content;
    height: max-content;
}

.container_sign_up .content .main-content .heading {
    width: max-content;
    margin: 5rem auto 0 auto;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
}

.container_sign_up .content .main-content > .flex {
    gap: 6.4rem;
    width: max-content;
    margin: 3rem auto 0 auto;
}

.content .main-content > .flex > div {
    width: 30rem;
    height: 6rem;
    gap: 1.5rem;
    border-radius: 0.8rem;
    border: 1px solid #5B86E5;
    background: #FFF;
    justify-content: center;
    align-items: center;
}

.content .main-content > .flex div > div {
    font-size: 1.8rem;
    line-height: 4rem;
    letter-spacing: 0.128rem;
}

.content .main-content > .flex div img {
    object-fit: cover;
}

.container_sign_up .content .line {
    width: max-content;
    margin: 6rem auto 0 auto;
    color: #838383;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.24rem;
}

.container_sign_up .content .formSignIn {
    width: 90%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 5rem auto 0 auto;
}

.container_sign_up .content .formSignIn .input {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.container_sign_up .content .formSignIn input {
    height: 4.7rem;
    color: #9D9D9D;
    font-size: 1.8rem;
    line-height: 4rem; /* 250% */
    letter-spacing: 0.128rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #9D9D9D;
}

.container_sign_up .content .formSignIn a {
    width: 85%;
    margin: 0 auto;
    display: block;
    height: 6rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 0.128rem;
    text-align: center;
}

.container_sign_up .content .formSignIn .sign-in {
    margin-top: 4rem;
    color: #fff;
    border-radius: 1rem;
    background: #000;
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.15);
}

.container_sign_up .content .formSignIn .sign-up {
    margin-top: 2rem;
    border-radius: 0.8rem;
    border: 1px solid #5B86E5;
    color: #5B86E5;
}

.container_sign_up .content .formSignIn .forget {
    width: max-content;
    margin: 0 3rem 0 auto;
    color: #5B86E5;
    font-weight: 700;
}

.container_sign_up .content .footer {
    width: max-content;
    margin: 1rem 0 0 auto;
    color: #000;
    font-weight: 400;
    line-height: 3rem;
    font-size: 1.8rem;
}